.image-bg {
  .hero-section {
    background: linear-gradient(to right, rgba(#000, .5), rgba(#000, .2)), url('~@/assets/img/image-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0 100px;
  }

  .hero-content {
    h1 {
      color: $white;
      font-weight: 600;
    }

    p {
      color: $white;
    }
  }
}
