<div class="client-section">
  <div class="container text-center">
    <div class="clients owl-carousel owl-theme">
      <div class="single">
        <img src="~@/assets/img/dash.png" alt="Dash">
      </div>
      <div class="single">
        <img src="~@/assets/img/ethereum.png" alt="Ethereum">
      </div>
      <div class="single">
        <img src="~@/assets/img/bitcoin.png" alt="Bitcoin">
      </div>
      <div class="single">
        <img src="~@/assets/img/ripple.png" alt="Ripple">
      </div>
      <div class="single">
        <img src="~@/assets/img/kayen-logo.png" alt="Kayen">
      </div>
      <div class="single">
        <img src="~@/assets/img/litecoin.png" alt="Litecoin">
      </div>
      <div class="single">
        <img src="~@/assets/img/nem.png" alt="Nem">
      </div>
      <div class="single">
        <img src="~@/assets/img/monero.png" alt="Monero">
      </div>
      <div class="single">
        <img src="~@/assets/img/neo.png" alt="Neo">
      </div>
    </div>
  </div>
</div>
