<div class="cta-sub no-color">
  <div class="container">
    <div class="cta-inner">
      <h1>Start your Peatio Cloud</h1>
      <p>Please submit your email to receive your peatio.tech demo link.</p>
      <div class="form">
        <form id="signup" class="formee clearfix" action="#" method="post" novalidate="novalidate">
          <div style="float: left">
            <input name="email" id="email" type="text" style="display: block; width: 100%">
          </div>
          <div style="float: left">
            <input class="right inputnew" type="submit" title="Send" value="Submit" style="display: block; width: 100%">
          </div>
        </form>
        <div id="response"></div>
      </div>
    </div>
  </div>
</div>
