<div class="hero-section">
  <div class="container no-override">
    <div id="main" class="col-md-12">
      <img class="img-responsive" src="~@/assets/img/peatio.png" alt="Hero Image">
    </div>
    <div class="col-md-12">
      <div class="hero-content text-center">
        <h1>Peatio [&#35988;&#35973;] Open-Source Exchange</h1>
        <h2>Cloud deployment made simple and secure</h2>
        <p>
          Peatio - Cryptocurrency exchange for managing digital currency.
          <br class="hidden-xs">We provide Peatio installation and configuration services
        </p>
        <a class="btn btn-primary btn-action page-scroll" href="#platform" >Read more</a>
      </div>
    </div>
  </div>
</div>
