<div class="bg">
  <div class="darken"></div>
  <vue-particles color="#212f3e"
    linesColor="#212f3e"
    v-bind:particlesNumber="50"
    v-bind:particleSize="5"
    v-bind:linesWidth="2"
    v-bind:lineLinked="true"
    v-bind:lineOpacity="0.7"
    v-bind:linesDistance="250"
    v-bind:moveSpeed="1.5"
    v-bind:hoverEffect="true" />
</div>

<div class="hero-section">
  <div class="container no-override">
    <div id="main" class="col-md-12">
      <!-- <img src="~@/assets/img/peatio.png" alt="Hero Image"> -->
      <div class="hero-logo">
        <h1>peatio.tech</h1>
      </div>
      <div class="hero-content">
        <h1>Peatio (&#35988;&#35973;) Open-Source Exchange</h1>
        <h2>Cloud deployment made simple and secure</h2>
        <p>
          Peatio - Cryptocurrency exchange for managing digital currency.
          <br class="hidden-xs">We provide Peatio installation and configuration services
        </p>
        <a class="btn btn-primary btn-action page-scroll" href="#platform" >Read more</a>
      </div>
    </div>
  </div>
</div>
