<div id="platform" class="features space">
  <div class="container">
    <div class="features-inner">
      <div class="col-md-5 col-md-offset-1 nopadding">
        <div class="features-list">
          <h1>High performance cluster</h1>
          <p>
            Peatio.tech deploys Peatio exclusively using containers and kubernetes. This configuration enables great stability and scalability
          </p>
          <p>
            Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.
          </p>
          <p>
            Peatio.Tech is a team of Dev/Ops developers specializing in containers, continuous build and deployments.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="~@/assets/img/cluster.png" alt="Features">
    </div>
  </div>
</div>
